.o-canvas 
  header.c-header 
    figure.c-header__brand
      img.c-header__img(src=`images/logo-libronet.svg`, alt="Logo libronet")
    .c-header__btn-wrap
      button.c-header__button(type="button").i-cart
      span.c-header__btn-counter.js-cart-counter 0
      .c-header__cart-wrap
        ul.c-header__cart-list.js-cart-list
          //- li.c-header__cart-item.js-cart-item 
          //-   span 1
          //-   span.js-cart-item-name Como ganar amigos e influir en las personas 
          //-   span $90.000
          //-   button(type="button").c-header__cart-btn.js-btn-remove-item.i-close

        .c-header__cart-total.js-cart-total Total: 0


