// -*------------------------------------*
// -    Variables Color Template
// -    Referente del sistema de color:
// -    https://material.io/design/color/the-color-system.html
// -*------------------------------------*

$c-primary-blue: #9BD4D1;

$c-secondary-green: #779C38;

$c-neutro: #fff;

$c-tertiary: #EDC23C;

$c-surface-gray-10: #A0A0A0;

$c-surface-gray-20: #868585;

$c-surface-gray-30:#676767;