.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include px-to-rem(padding-top, $gutter * 3);
  @include px-to-rem(padding-bottom, $gutter * 2);
  @include px-to-rem(margin-bottom, $gutter * 7);
}

.c-header__button {
  border: none;
  &::before {
    color: $c-primary-blue;
    @include px-to-rem(font-size, 24px);
  }
}

.c-header__btn-wrap {
  position: relative;
}
.c-header__btn-counter {
  display: grid;
  place-items: center;
  position: absolute;
  top: -15px;
  right: -10px;
  @include px-to-rem(height, 25px);
  @include px-to-rem(width, 25px);
  background-color: $c-tertiary; 
  color: $c-neutro;
  border-radius: 100%;
}

.c-header__cart-wrap {
  list-style: none;
  position: absolute;
  z-index: 1;
  min-width: 300px;
  @include px-to-rem(padding, $gutter * 5);
  right: 0;
  background-color: $c-neutro;
  box-shadow: $c-shadow-13;
  @include px-to-rem(border-radius, 24px);
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in;
}

.is-open {
  visibility: visible;
  opacity: 1;
}

.c-header__cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include px-to-rem(column-gap, $gutter);
  @include px-to-rem(margin-bottom, $gutter * 6);
}
.c-header__cart-btn {
  border: 0;
  &::before {
    @include px-to-rem(font-size, 14px);
    color: $c-secondary-green;
  }
}
.c-header__cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  @include px-to-rem(margin-top, $gutter * 5);
  @include px-to-rem(padding-top, $gutter * 3);
  border-top: 1px solid $c-primary-blue;
}

@media only screen and (min-width: 600px) {
  .c-header__cart-wrap {
    @include px-to-rem(min-width, 500px);
  }
}