// -*------------------------------------*
// -   .o- class Objects Títles.
// -*------------------------------------*

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f-default;
  font-weight: $f-medium;
  line-height: 1.2;
}

.o-hgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include px-to-rem(max-width, 350px);
  @include px-to-rem(margin-bottom, $gutter * 8);
  &::after {
    content: "";
    width: 20%;
    height: 1px;
    background-color: $c-primary-blue;
  }
}

.o-headline {
  @include px-to-rem(font-size, $gutter * 4);
}
.o-headline_blue {
  display: block;
  @include px-to-rem(font-size, $gutter * 4);
  text-transform: uppercase;
  color: $c-primary-blue;
}
