// -*------------------------------------*
// -   Variables fuentes de ícono
// -*------------------------------------*


/**
* Font family: fuentes de ícono
* @nuclide Variables
* @section Settings > Font family
*/
$font-family-ico: "ico-libronet" !default;

// - V 1.0

$i-cart: "\e909";
$i-check: "\e908";
$i-chevron-left: "\e900";
$i-chevron-right: "\e901";
$i-close-circle: "\e902";
$i-close: "\e903";
$i-filter: "\e904";
$i-menu: "\e905";
$i-search: "\e906";
$i-star-bold: "\e907";
