div.o-canvas
  section.c-grid.js-cards 
    //- article.c-card 
    //-   .c-card_wrap-img
    //-     figure.c-card_figure
    //-       img.c-card_image(src="https://images.cdn3.buscalibre.com/fit-in/360x360/e8/24/e824f4d5c2ac00478a659ce59f31b0f2.jpg", alt="")
    //-   .c-card_caption 
    //-     h3.c-card-title Como ganar amigos e influir sobre las personas
    //-     p.c-card-subtitle Dale Carnegie
    //-     .c-card-stars 
    //-       .estrella
    //-     p.c-card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequuntur ullam repellendus fugiat.
    //-     p.c-card__price $ 55.000
    //-     button(type="button").o-btn-primary Agregar al carrito