div.o-canvas
  section.c-grid 
    article.c-card 
      .c-card_wrap-img
        figure.c-card_figure
          img.c-card_image(src="https://images.cdn3.buscalibre.com/fit-in/360x360/e8/24/e824f4d5c2ac00478a659ce59f31b0f2.jpg", alt="")
      .c-card_caption 
        h3.c-card-title Como ganar amigos e influir sobre las personas
        p.c-card-subtitle Dale Carnegie
        .c-card-stars 
          .estrella
        p.c-card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequuntur ullam repellendus fugiat.

    article.c-card 
      .c-card_wrap-img
        figure.c-card_figure
          img.c-card_image(src="https://images.cdn3.buscalibre.com/fit-in/360x360/f7/02/f70261428450baeb598dde9e0bce7fc8.jpg", alt="")
      .c-card_caption 
        h3.c-card-title Como ganar amigos e influir sobre las personas
        p.c-card-subtitle Dale Carnegie
        .c-card-stars 
          .estrella
        p.c-card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequuntur ullam repellendus fugiat.

    article.c-card 
      .c-card_wrap-img
        figure.c-card_figure
          img.c-card_image(src="https://images.cdn1.buscalibre.com/fit-in/360x360/61/45/614548e593780a204fe4c31c045a284c.jpg", alt="")
      .c-card_caption 
        h3.c-card-title Como ganar amigos e influir sobre las personas
        p.c-card-subtitle Dale Carnegie
        .c-card-stars 
          .estrella
        p.c-card-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequuntur ullam repellendus fugiat.
  
  //-   <div class="container">
  //-   <div class="c-grid" id="res">
  //-     <!-- <div class="">
  //-       <div class="card">
  //-         <div class="card-image">
  //-           <img class="js-img-card" src="images/sample-1.jpg">
  //-           <span class="js-card-title card-title">Card Title</span>
  //-           <span class="js-card-autor">Autor</span>
  //-           <span class="js-card-idioma">Idioma</span>
  //-           <span class="js-card-categoria">Categoría</span>
  //-         </div>
  //-         <div class="card-action">
  //-           <a href="#">Ver libro</a>
  //-         </div>
  //-       </div>
  //-     </div> -->
  //-   </div>
  //- </div>