.o-canvas
  .c-wrap-search
    .c-search.i-search
      input(type="text", placeholder="Busca un libro").c-search_input

    button(type="button").c-filter-btn.i-filter 
      span.c-filter-btn__text Filtros