ul.o-chip__list
  li.o-chip__item 
    span.o-chip__text.i-after-close Programación
    
  li.o-chip__item 
    span.o-chip__text.i-after-close Programación
  
  li.o-chip__item 
    span.o-chip__text.i-after-close Programación